.add-money-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #f3f5f9;
  padding: 40px 50px;
  border-radius: 40px;
  width: 60vw;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
 
}
/* Heading */
.form-title {
  font-size: 38px;
  font-weight: bold;
  font-family: "Roboto Mono, monospace";
  color: #0f3a6e;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 80px;
}

/* Input wrapper */
.input-container {
  width: 100%;
  margin-bottom: 20px;
}

/* Input field (MUI TextField override) */
.MuiOutlinedInput-root {
  border-radius: 40px !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #0f3a6e !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #0d2e59 !important;
}

/* Label text */
.MuiInputLabel-root {
  color: gray !important;
  font-weight: 500;
  font-size: 14px;
}

/* Helper text */
.MuiFormHelperText-root {
  color: gray;
  font-size: 12px;
}

/* Submit button */



.submit-button:hover {

  background-color: #0d2e59;
  transform: scale(1.05);
  transition: 0.3s;
}
.submit-button {
  margin-top: 10px;
  padding: 12px 32px;
  width: 60%;
  height: 50px;
  border-radius: 100px;
  background-color: hsl(256, 94%, 33%);
  font-size: 18px;
  cursor: pointer;
  text-transform: none;
}

.submit-button.contained {
  margin-top: 10px;
  padding: 12px 3px;
  width: 220px;
  max-width: 250px; /* optional: prevent huge buttons on wide screens */
  height: 50px;
  border-radius: 25px;

  background-color: #0d2e59;
  color: #ffffff;
  font-size: 18px;
  
  cursor: pointer;
  text-transform: none;

  transition: transform 0.3s, background-color 0.3s; /* smooth hover */
}

.submit-button.contained:hover {
  background-color: #3e6ead;
  transform: scale(1.05);

}

.box-container{
  display: "flex";
flex-direction: "column";
                align-items: "center";
                cursor: "pointer";  
                }
.box-container:hover{
transform: "scale(1.05)"; transition: "0.2s" 
    }            
