.transaction-container {
    background-color:  #f9f9f9;;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  padding: 16px;
  border-radius: 2%;
   min-height: 9vh;
}

.transaction-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
}

.transaction-subtitle {
  text-align: center;
  margin-bottom: 16px;
}

.filter-card {
  margin-bottom: 20px;
}

.filter-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.filter-input,
.filter-select {
  min-width: 380px;
}

.transaction-item {
  margin-bottom: 10px;
  border-radius: 12px !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1) !important;
}

.transaction-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-section {
  flex: 0 40px;
  margin-right: 12px;
}
.icon.RECEIVED{
    color: #2e7d32;
  background-color: #e8f5e9;
}
.icon.WITHDRAWN{

  color: #c62828;
  background-color: #ffebee;
}
.amount {
  font-weight: 600;
  text-align: right;
  width: 10vw;
  
}

.amount.RECEIVED {
  
  color: green;
}

.amount.WITHDRAWN {

  color: red;
}

.transaction-type {
   display: flex;
   flex-direction: column;
  align-items: flex-start;
  
  font-weight: 500;
}

.remarks {
  font-size: 0.85rem;

}

.transaction-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ensures items start from left */
  width: 100%;
}
.filter-buttons {
  
  display: flex;
  gap: 10px;
  margin-left: auto; /* pushes buttons to the right */
  flex-direction: row;
 
}


.submit-button.contained {
  margin-top: 10px;
  padding: 12px 3px;
  width: 160px;
  max-width: 250px; /* optional: prevent huge buttons on wide screens */
  height: 50px;
  border-radius: 25px;
  background-color: #0d2e59;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  text-transform: none;
  font-family: Roboto Mono, monospace;

  transition: transform 0.3s, background-color 0.3s; /* smooth hover */
}

.submit-button.contained:hover {
  background-color: #3e6ead;
  transform: scale(1.05);

}



.clear-button.contained {
  width: 160px;
  margin-top: 10px;
  padding: 2px 3px;
  height: 50px;
  border-radius: 25px;
  font-family: Roboto Mono, monospace;
  background-color: #0d2e59;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  cursor: pointer;
  text-transform: none;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.clear-button.contained{

}

.clear-button.contained:hover {
  background-color: hsl(0, 70%, 45%);
  color: #fff;
  transform: scale(1.05);
}



